<a href="https://colab.research.google.com/github/nhattminh160901/Bai_Tap/blob/main/NNLT_Python/7_10_2021/bai_tap_tai_lop(phien_1)(7_10_2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
#Exercise 1: Print First 10 natural numbers using while loop
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [94]:
#Exercise 2: Print the following pattern
rows2 = 6
for i in reversed(range(1, rows2)):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [96]:
#Exercise 3: Calculate the sum of all numbers from 1 to a given number
number3 = int(input("Number: "))
sum3 = 0
for number3 in range(1, n + 1, 1):
  sum3 = sum3 + number3
print("Sum of numbers is:", sum3)

Number: 9
Sum of numbers is: 21

In [97]:
#Exercise 4: Write a program to print multiplication table of a given number with natural numbers from 1 to 10.
number4 = int(input("Number: "))

print("Multiplication Table of", number4)
for i in range(1, 11):
   print(number4,"X",i,"=",number4 * i)

Number: 25
Multiplication Table of 25
25 X 1 = 25
25 X 2 = 50
25 X 3 = 75
25 X 4 = 100
25 X 5 = 125
25 X 6 = 150
25 X 7 = 175
25 X 8 = 200
25 X 9 = 225
25 X 10 = 250

In [98]:
#Exercise 5: Display numbers from a list using loop
list5 = [1, 3, 9, 4, 5, "sieu cap vip pro", 6]
for i in list5:
  print(i)

1
3
9
4
5
sieu cap vip pro
6

In [100]:
#Exercise 6: Count the total number of digits in a number
number6 = int(input("Number:"))
count = 0
while(number6>0):
    count = count+1
    number6 = number6//10
print("The number of digits in the number are:", count)

Number:46546465465
The number of digits in the number are: 11

In [101]:
#Exercise 7: Print list in reverse order using a loop
list7 = [1, 3, 5, "vip", "pro", 7, 100, "sieu cap vu tru"]
for i in reversed(list7):
  print(i)

sieu cap vu tru
100
7
pro
vip
5
3
1

In [102]:
#Exercise 8: Display numbers from -10 to -1 using for loop
for i in range(-10, 0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [103]:
#Exercise 9: Use else block to display a message “Done” after successful execution of for loop
for i in range(9):
    print(i)
else:
  print("Done")

0
1
2
3
4
5
6
7
8
Done

In [105]:
#Exercise 10: Write a program to display all prime numbers within a range
start10 = int(input("Number start: "))
end10 = int(input("Number end: "))
print("Prime numbers between", start10, "and", end10, ":")

for number10 in range(start10, end10 + 1):
    if number10 > 1:
        for i in range(2, number10):
            if (number10 % i) == 0:
                break
        else:
            print(number10)

Number start: 6
Number end: 20
Prime numbers between 6 and 20 :
7
11
13
17
19

In [106]:
#Exercise 11: Display Fibonacci series up to 10 terms
number1, number2 = 0, 1
print("Fibonacci series:")
for i in range(10):
    print(number1, end=" ")
    res = number1 + number2
    number1 = number2
    number2 = res

Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [108]:
#Exercise 12: Find the factorial of a given number
number12 = int(input("Number: "))
factorial = 1
while number12 < 0:
    print("nter a non-negative number")
    number12 = int(input("Number: "))
if number12 == 0:
    print("Factorial 0 is 1")
else:
    for i in range(1, number12 + 1):
        factorial = factorial * i
    print("The factorial of", number12, ":", factorial)

Number: 20
The factorial of 20 is 2432902008176640000

In [109]:
#Exercise 13: Reverse a given integer number
number13 = int(input("Number: "))
reverse_number = 0
print("Entered Number: ", number13)
while number13 > 0:
    reminder = number13 % 10
    reverse_number = (reverse_number * 10) + reminder
    number13 = number13 // 10
print("Reverse Number: ", reverse_number)

Number: 123
Given Number  123
Reverse Number  321

In [115]:
#Exercise 14: Use a loop to display elements from a given list present at odd index positions
list14 = ["sieu", "cap", "vu", "tru", 1, 2, 1000, 10000000, 234, "a"]
for i in list14[1::2]:
    print(i, end=", ")

cap, tru, 2, 10000000, a,

In [116]:
#Exercise 15: Calculate the cube of all numbers from 1 to a given number
number15 = int(input("Number: "))
for i in range(1, number15 + 1):
    print("Current mumber:", i, ", Cube:", (i * i * i))

Number: 6
Current mumber: 1 , Cube: 1
Current mumber: 2 , Cube: 8
Current mumber: 3 , Cube: 27
Current mumber: 4 , Cube: 64
Current mumber: 5 , Cube: 125
Current mumber: 6 , Cube: 216