<a href="https://colab.research.google.com/github/nhattminh160901/Bai_Tap/blob/main/NNLT_Python/30_09_2021/bai_tap_tai_lop(phien_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])
list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])
list1 = ['physics', 'chemistry', 1997, 2000]
print(list1)
del list1[2]
print("After deleting value at index 2 : ")
print(list1)

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Value available at index 2 :
1997
New value available at index 2 :
2001
['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [5]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
tup1 = (50,)
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
# Following action is not valid for tuples
# tup1[0] = 100;
# So let's create a new tuple as follows
tup3 = tup1 + tup2
print(tup3)
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup ")

tup1[0]:  50
tup2[1:5]:  (2, 3, 4, 5)
(12, 34.56, 'abc', 'xyz')
('physics', 'chemistry', 1997, 2000)
After deleting tup :

In [6]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])
#dict['Name']: Zara
#dict['Age']: 7
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])
#dict['Age']: 8
#dict['School']: DPS School
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
dict.clear() # remove all entries in dict
del dict # delete entire dictionary

dict['Name']:  Zara
dict['Age']:  7
dict['Age']:  8
dict['School']:  DPS School

In [10]:
# Same as {"a", "b", "c"}
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)
#Set:
#set(['a', 'c', 'b'])
#Set after adding:
#set(['a', 'c', 'b', 'd'])
# Creating a Set
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
  people.add(i)
print("\nSet after adding element:", end = " ")
print(people)
#People: {'Archi', 'Idrish', 'Jay'}
#Set after adding element: {1, 2, 3, 4, 5, 'Jay',
# 'Daxit', 'Archi', 'Idrish'}
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)
#set(['Wed', 'Fri', 'Tue', 'Mon', 'Thu', 'Sat'])
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
# This method will remove
# all the elements of the set
set1.clear()
print("\nSet after using clear() function")
print(set1)
#Initial set
#{1, 2, 3, 4, 5, 6}
#Set after using clear() function
#set()
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
# Union using union() function
population = people.union(vampires)
print("Union using union() function")
print(population)
# Union using "|" operator
population = people|dracula
print("\nUnion using '|' operator")
print(population)
#Union using union() function
#{'Jay', 'Karan', 'Idrish', 'Arjun', 'Archil'}
#Union using '|' operator
#{'Jay', 'Raju', 'Deepanshu', 'Idrish', 'Archil'}
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)
#Intersection using intersection() function
#{3, 4}
#Intersection using '&' operator {3, 4}
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Difference of two sets using difference() function
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)
#Difference of two sets using difference() function
#{0, 1, 2}
#Difference of two sets using '-' operator {0, 1, 2}
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)
#True
#True

Set:
{'a', 'b', 'c'}

Set after adding:
{'a', 'd', 'b', 'c'}
People:
{'Idrish', 'Jay', 'Archi'}

Set after adding element: {1, 2, 3, 'Archi', 4, 5, 'Idrish', 'Jay', 'Daxit'}
{'Wed', 'Sat', 'Thu', 'Mon', 'Tue', 'Fri'}
Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()
Union using union() function
{'Archil', 'Idrish', 'Jay', 'Karan', 'Arjun'}

Union using '|' operator
{'Archil', 'Idrish', 'Jay', 'Deepanshu', 'Raju'}
Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}
 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}
True
True

In [12]:
import time; # This is required to include time module.
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
#Number of ticks since 12:00am, January 1, 1970: 7186862.73399
localtime = time.localtime(time.time())
print("Local current time :", localtime)
#Local current time : time.struct_time(tm_year=2013, tm_mon=7,
#tm_mday=17, tm_hour=21, tm_min=26, tm_sec=3,
#tm_wday=2, tm_yday=198, tm_isdst=0)
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)
#Local current time : Tue Jan 13 10:17:09 2009
import calendar
cal = calendar.month(2021, 9)
print("Here is the calendar:")
print(cal)

Number of ticks since 12:00am, January 1, 1970: 1633015104.0247295
Local current time : time.struct_time(tm_year=2021, tm_mon=9, tm_mday=30, tm_hour=15, tm_min=18, tm_sec=24, tm_wday=3, tm_yday=273, tm_isdst=0)
Local current time : Thu Sep 30 15:18:24 2021
Here is the calendar:
   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30