<a href="https://colab.research.google.com/github/nhattminh160901/Bai_Tap/blob/main/DoAn_2022/10_3_2022/pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Khởi tạo 1 Series với giá trị rỗng

In [8]:
import numpy as np
import pandas as pd

S = pd.Series()  
S

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

Series([], dtype: float64)

Câu 2: Giả sử có 1 vector hàng a có kích thước (1x7) được biểu diễn trong NumPy, hãy tạo 1
series tương ứng với các giá trị được sinh ngẫu nhiên.

In [45]:
A = np.random.rand(7)
print(A)
pd.Series(A)

[0.31670163 0.96564422 0.19457013 0.76031273 0.65051812 0.31336561
 0.55321574]

0    0.316702
1    0.965644
2    0.194570
3    0.760313
4    0.650518
5    0.313366
6    0.553216
dtype: float64

Câu 3: Giả sử có 1 vector hàng a có kích thước (1x7), hãy nhập các giá trị cho 7 phần tử này từ
bàn phím và tạo series tương ứng.

In [16]:
A = []
for i in range(7):
  n = int(input("n = "))
  A.append(n)
A = np.array(A)
pd.Series(A)

n = 1
n = -1
n = 5
n = -5
n = 3
n = 100
n = 5

0      1
1     -1
2      5
3     -5
4      3
5    100
6      5
dtype: int64

Câu 4: Giả sử có 1 vector cột có kích thước (7x1) được biểu diễn trong NumPy, hãy tạo Series
tương ứng.

In [47]:
A = np.random.randint(-10, 10, (7, 1))
print(A)
pd.DataFrame(A)

[[ 4]
 [-8]
 [-3]
 [-6]
 [-7]
 [ 6]
 [ 8]]

   0
0  4
1 -8
2 -3
3 -6
4 -7
5  6
6  8

Câu 5: Chuyển đổi dữ liệu, hãy thực hiện các yêu cầu sau:
- Chuyển 1 list thành 1 series
- Chuyển 1 tuple thành 1 series
- Chuyển 1 dictionary thành 1 series

In [39]:
A = [i for i in range(10)]
print(A)
print("list to series:")
pd.Series(A)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list to series:

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [41]:
B = tuple(i for i in range(10))
print(B)
print("tuple to series:")
pd.Series(B)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple to series:

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [42]:
C = {"A": 5, "B": 7, "C": 8}
print(C)
print("dictionary to series:")
pd.Series(C)

{'A': 5, 'B': 7, 'C': 8}
dictionary to series:

A    5
B    7
C    8
dtype: int64

Câu 6: Mỗi phần tử của series đều gắn liền với các chỉ số (index) tương ứng, hãy tạo một series
có kích thước (1x20) với giá trị ngẫu nhiên:
- Xuất series ra màn hình
- Xuất các chỉ số của series ra màn hình
- Thay đổi cách đánh chỉ số mặc định của series từ đánh chỉ số bằng số nguyên sang các kiểu
đánh chỉ số bằng label và in kết quả ra màn hình
Gợi ý:
- Hàm loc() dùng cho chỉ số label
- Hàm iloc() dùng cho chỉ số đạng số nguyên
- Hàm ix(): dùng cho cả 2 loại chỉ số trên

In [92]:
import random
import string
A = np.random.randn(20)
S = pd.Series(A)
print(S)
print(S.values)
labels = []
for i in range(20):
  labels.append(random.choice(string.ascii_letters))
S.index = labels
print(S)
label = random.choice(labels)
print("label:", label, S.loc[label])
print("0:", S.iloc[0])

0    -0.241472
1    -0.029081
2     1.360373
3    -0.306807
4     0.692951
5     0.083001
6    -0.227703
7     0.696596
8    -0.862606
9     0.127100
10   -0.312451
11   -0.474927
12    0.681444
13    1.122963
14    0.643203
15    0.598446
16   -0.234672
17   -0.740967
18   -0.739321
19   -0.348077
dtype: float64
[-0.2414715  -0.02908105  1.36037252 -0.30680742  0.69295121  0.08300091
 -0.22770332  0.69659557 -0.86260563  0.12709958 -0.31245144 -0.47492739
  0.68144392  1.1229627   0.64320251  0.59844588 -0.23467209 -0.74096729
 -0.7393207  -0.34807672]
g   -0.241472
C   -0.029081
R    1.360373
A   -0.306807
Z    0.692951
I    0.083001
c   -0.227703
X    0.696596
s   -0.862606
S    0.127100
r   -0.312451
y   -0.474927
o    0.681444
N    1.122963
i    0.643203
K    0.598446
k   -0.234672
N   -0.740967
M   -0.739321
X   -0.348077
dtype: float64
label: I 0.0830009051270059
0: -0.24147150252584043

Câu 7: Giả sử có series có kích thước (1x10), giá trị ngẫu nhiên, index được đánh từ ‘a’ trở đi,
hãy:
- Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’
- Trích xuất các phần tử của Series có chỉ số từ 3 đến 6

In [102]:
A = np.random.randn(10)
labels = []
for i in range(10):
  labels.append(string.ascii_letters[i])
S = pd.Series(A)
S.index = labels
print(S.loc[['a', 'b', 'c']])
print(S.iloc[3:6])

a   -0.381858
b    0.373417
c    0.200891
dtype: float64
d    1.589856
e   -0.238855
f    0.429891
dtype: float64